body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1121px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1023px;
  top:1014px;
  width:97px;
  height:97px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
}
#u1 {
  position:absolute;
  left:2px;
  top:40px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:950px;
  top:1094px;
  width:32px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:1024px;
  top:1120px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
