body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:97px;
  top:40px;
  width:553px;
  height:673px;
  font-family:'PingFang SC';
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:673px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:186px;
  top:691px;
  width:464px;
  height:829px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:829px;
}
#u3 {
  position:absolute;
  left:2px;
  top:406px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
